example.json
[{"id":"d4145baa.e47e98","type":"inject","z":"79f2d0a1.1d776","name":"Run Curve Debugger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["7badddae.8a7774"]]},{"id":"7badddae.8a7774","type":"function","z":"79f2d0a1.1d776","name":"Generate Test Domain (x-axis)","func":"msg.payload = \"0.0\";\nfor(var i = 0.1; i <= 1; i += 0.1){\n    msg.payload = msg.payload + \",\" + i.toFixed(2);\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["aac9400b.365a5"]]},{"id":"aac9400b.365a5","type":"split","z":"79f2d0a1.1d776","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":220,"wires":[["7abc9158.360c4"]]},{"id":"7abc9158.360c4","type":"function","z":"79f2d0a1.1d776","name":"Generate Payload","func":"msg.payload = { lightData: { curveInput: msg.payload } };\nmsg.payload.continue = \"debug\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":220,"wires":[["8e3040bc.fdc34"]]},{"id":"8e3040bc.fdc34","type":"spline-curve","z":"79f2d0a1.1d776","name":"Evening Curve","output_key":"payload.kelvin","input_key":"payload.lightData.curveInput","points":[{"x":0,"y":0.25},{"x":0.266,"y":0.253},{"x":0.496,"y":0.25},{"x":1,"y":0}],"x":1000,"y":220,"wires":[["85c45871.89f378"]]},{"id":"85c45871.89f378","type":"debug","z":"79f2d0a1.1d776","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.kelvin","targetType":"msg","x":1190,"y":220,"wires":[]}]
